
{% extends 'basic.html' %}
{% block body %}
{% load static %}


<link rel="stylesheet" href="{% static '/wp-includes/privacy-page.css' %}">
   <div class="content" id='pwd' >
    <div class="container-fluid">
     <div class="row">
      <div class="col-md-8 offset-md-2">
        
         <div class="col-md-12 col-lg-6 login-right">
          <div class="login-header">
           <h3>
            Forgot Password?
           </h3>
           <p class="small">
            Enter your email to get a password reset link
           </p>
          </div>
          <form method="post" action=".">{% csrf_token %}
           <div class="form-group">
            <label>
             Email
            </label>
            <input class="form-control" name='email' placeholder="enter your email" type="email"/>
           </div>
           <div class="text-left">
            <a class="forgot-link" href="{% url 'login' %}">
             Remember your password go to login?
            </a>
           </div>
           <button class="btn btn-primary btn-lg login-btn" type="submit">
            Reset Password
           </button>
          </form>
         </div>
       </div>
     </div>
    </div>
   </div>
  {%endblock%}